<div layout="vertical" layout-fill layout-align="center center">

  <md-content>


    <md-card>
      <md-input-container>
        <label>Paste here the full names separated by new lines</label>
      <textarea name="people" ng-model="vm.peopleInput"></textarea>
      </md-input-container>
    </md-card>

    <md-button class="md-raised md-primary" ng-click="vm.addPeople()">ADD</md-button>

    <h2 ng-show="vm.RaffleService.raffleNames.length">Raffle Pool</h2>

    <div ng-repeat="raffleName in vm.RaffleService.raffleNames">
      <button ng-click="vm.removeDude($index)">X</button>
      {{ raffleName }}
    </div>

  </md-content>

</div>
