<div layout="vertical" layout-fill layout-align="center center">

  <md-content layout-padding>

    <div layout-align="center" layout-fill layout="vertical">
      <md-button class="md-raised md-primary" ng-click="vm.startRaffle()">START</md-button>
    </div>

    <md-card ng-show="vm.selectedName">
      <md-card-content>
        <h1>{{vm.selectedName}}</h1>
      </md-card-content>
    </md-card>


    <md-card ng-show="vm.RaffleService.winners.length">
      <md-card-content>
        <div class="winnersBox" >

          <h1>Winners</h1>
          <md-divider></md-divider>

          <h2 ng-repeat="name in vm.RaffleService.winners" class="winner">{{name}}</h2>

        </div>
      </md-card-content>
    </md-card>
  </md-content>
</div>
